.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.filter-artists {
  width: 100%;
  max-width: 285px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 50px;
  border: 1px solid #ddddee;
  background-color: #f7f7f7;

  .form-control {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ddddee;

    input {
      width: 210px;
      height: 100%;
      padding: 4px 8px;
      flex: 1;
      border: 0;
      outline: 0;
    }

    button {
      height: 100%;
      width: 28px;
      outline: 0;
      border: 0;
    }
  }

  .results {

    &__inner {
      padding: 10px;

      &:not(:last-child) {
        border-bottom: 1px solid #ddddee;
      }
    }

  }
}