#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 100%;
  max-width: 768px;
  min-width: 300px;

  /* Style the input fields */

  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway, serif;
    border: 1px solid #aaaaaa;
    outline: 2px #a7cce8;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;

    /* Mark input boxes that gets an error on validation: */

    &.invalid {
      border-color: #ff5b5f;
    }

    &:focus {
      border-color: #a7cce8;
    }
  }


  /* Hide all steps by default: */

  .tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Make circles that indicate the steps of the form: */

  .steps {
    text-align: center;
    margin-top: 40px;
    counter-reset: steps 0;

    .step {
      position: relative;
      height: 25px;
      width: 25px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
      counter-increment: steps 1;

      &::before {
        content: counter(steps);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      /* Mark the active step: */

      &.active {
        opacity: 1;
      }

      /* Mark the steps that are finished and valid: */

      &.finish {
        background-color: #4CAF50;
      }
    }
  }


  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  button {
    padding: 10px 12px;
    width: 117px;
    background-color: #52dc39;
    border-radius: 0;
    border: 0;
    outline: 0;
    cursor: pointer;

    &#submitBtn {
      background-color: #00BCD4;
    }

    &#nextBtn {
      margin-right: 0;
      margin-left: auto;
    }

    &:not(:nth-last-of-type(1)) {
      margin-right: 5px;
    }
  }

  .error {
    display: none;
    margin-bottom: 15px;
    color: #ff5b5f;

    &.show {
      display: block;
    }
  }
}



