/*!
 * Bootstrap Reboot v4.5.0 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  min-height: 100vh;
}
#__next {
  height: 100%;
  overflow: hidden auto;
}
.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.MuiCardMedia-img {
  width: 100px !important;
  height: 100px;
  margin: 16px auto 0;
  border-radius: 50%;
  border: 1px solid #dde;
  background-color: #ececec;
}
a {
  text-decoration: none;
  color: #673ab7;
}
a:not(:nth-last-of-type(1)) {
  margin-right: 5px;
}
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 100%;
  max-width: 768px;
  min-width: 300px;
  /* Style the input fields */
  /* Hide all steps by default: */
  /* Make circles that indicate the steps of the form: */
}
#regForm input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway, serif;
  border: 1px solid #aaaaaa;
  outline: 2px #a7cce8;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  /* Mark input boxes that gets an error on validation: */
}
#regForm input.invalid {
  border-color: #ff5b5f;
}
#regForm input:focus {
  border-color: #a7cce8;
}
#regForm .tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#regForm .steps {
  text-align: center;
  margin-top: 40px;
  counter-reset: steps 0;
}
#regForm .steps .step {
  position: relative;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  counter-increment: steps 1;
  /* Mark the active step: */
  /* Mark the steps that are finished and valid: */
}
#regForm .steps .step::before {
  content: counter(steps);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#regForm .steps .step.active {
  opacity: 1;
}
#regForm .steps .step.finish {
  background-color: #4CAF50;
}
#regForm .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
#regForm button {
  padding: 10px 12px;
  width: 117px;
  background-color: #52dc39;
  border-radius: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}
#regForm button#submitBtn {
  background-color: #00BCD4;
}
#regForm button#nextBtn {
  margin-right: 0;
  margin-left: auto;
}
#regForm button:not(:nth-last-of-type(1)) {
  margin-right: 5px;
}
#regForm .error {
  display: none;
  margin-bottom: 15px;
  color: #ff5b5f;
}
#regForm .error.show {
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.filter-artists {
  width: 100%;
  max-width: 285px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 50px;
  border: 1px solid #ddddee;
  background-color: #f7f7f7;
}
.filter-artists .form-control {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ddddee;
}
.filter-artists .form-control input {
  width: 210px;
  height: 100%;
  padding: 4px 8px;
  flex: 1;
  border: 0;
  outline: 0;
}
.filter-artists .form-control button {
  height: 100%;
  width: 28px;
  outline: 0;
  border: 0;
}
.filter-artists .results__inner {
  padding: 10px;
}
.filter-artists .results__inner:not(:last-child) {
  border-bottom: 1px solid #ddddee;
}
.quiz-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/quiz-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
  font-family: "Catamaran", sans-serif;
  padding: 0 15px;
}
.quiz-wrapper h1 {
  font-family: 'Fascinate Inline', sans-serif;
  font-size: 70px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px;
  background-image: linear-gradient(180deg, #ffffff, #87f1ff);
}
.quiz-wrapper .score {
  color: #3acede;
}
.quiz-wrapper button {
  background: linear-gradient(180deg, #ffffff, #ecbb14);
  padding: 4px 20px;
  max-width: 250px;
  border-radius: 10px;
  border: 2px solid #FFEB3B;
  color: #000;
  margin: 20px 0;
  outline: 0;
  cursor: pointer;
}
.quiz-wrapper .question-card {
  border: 2px solid #42cede;
  border-radius: 10px;
  padding: 20px;
  background-color: #ebfcff;
  width: 100%;
  max-width: 576px;
}
.quiz-wrapper .question-card .button-wrapper {
  transition: all 0.3s ease;
}
.quiz-wrapper .question-card .button-wrapper:hover {
  opacity: 0.8;
}
.quiz-wrapper .question-card button,
.quiz-wrapper .question-card p:not(.question-number):not(.question) {
  color: #ebfcff;
  background: linear-gradient(90deg, #57c1c5, #296275);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid #ebfcff;
  width: 100%;
  padding: 5px;
  height: 40px;
  margin: 5px 0;
  user-select: none;
  cursor: pointer;
  max-width: unset;
  text-align: center;
}
.quiz-wrapper .question-card button.is-correct,
.quiz-wrapper .question-card p:not(.question-number):not(.question).is-correct {
  background: linear-gradient(90deg, #56ffa4, #59bc86);
}
.quiz-wrapper .question-card button.is-false,
.quiz-wrapper .question-card p:not(.question-number):not(.question).is-false {
  background: linear-gradient(90deg, #ff5656, #c16868);
}
.quiz-wrapper .result-wrapper > div p {
  cursor: default !important;
}
.quiz-wrapper .result-wrapper > div p.question {
  color: #000;
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */