@import "reboot";
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  min-height: 100vh;
}

#__next {
  height: 100%;
  overflow: hidden auto;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.MuiCardMedia-img {
  width: 100px !important;
  height: 100px;
  margin: 16px auto 0;
  border-radius: 50%;
  border: 1px solid #dde;
  background-color: #ececec;
}

a {
  text-decoration: none;
  color: rgb(103, 58, 183);

  &:not(:nth-last-of-type(1)) {
    margin-right: 5px;
  }
}

@import "form";
@import "artists";
@import "quiz";