.quiz-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/quiz-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
  font-family: "Catamaran", sans-serif;
  padding: 0 15px;

  h1 {
    font-family: 'Fascinate Inline', sans-serif;
    font-size: 70px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 20px;
    background-image: linear-gradient(180deg, #ffffff, #87f1ff);
  }

  .score {
    color: #3acede;
  }

  button {
    background: linear-gradient(180deg, #ffffff, #ecbb14);
    padding: 4px 20px;
    max-width: 250px;
    border-radius: 10px;
    border: 2px solid #FFEB3B;
    color: #000;
    margin: 20px 0;
    outline: 0;
    cursor: pointer;
  }

  .question-card {
    border: 2px solid #42cede;
    border-radius: 10px;
    padding: 20px;
    background-color: #ebfcff;
    width: 100%;
    max-width: 576px;

    .button-wrapper {
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    button, p:not(.question-number):not(.question) {
      color: #ebfcff;
      background: linear-gradient(90deg, #57c1c5, #296275);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: 2px solid #ebfcff;
      width: 100%;
      padding: 5px;
      height: 40px;
      margin: 5px 0;
      user-select: none;
      cursor: pointer;
      max-width: unset;
      text-align: center;

      &.is-correct {
        background: linear-gradient(90deg, #56ffa4, #59bc86);
      }

      &.is-false {
        background: linear-gradient(90deg, #ff5656, #c16868);
      }

      &.is-disabled {
      }
    }

  }

  .result-wrapper {
    & > div {

      p {
        cursor: default !important;

        &.question {
          color: #000;
          background: none;
          box-shadow: none;
          border-radius: 0;
          border: none;
          margin-bottom: 20px;
        }
      }
    }
  }
}