.loading {
  border-width: 8px;
  border-style: solid;
  border-color: #515161 #515161 #f3f3f3 #f3f3f3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  will-change: transform;
  animation: spin 1s ease infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}